<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actulizacion</title><br>
    cosnteste el formulario para actualizar<br>
    1) Escriba el codigo   {{form.d_codigo(size=30)}}<br>    
    2) Escriba la asenta {{form.d_asenta(size=30)}}<br>
    3) Escriba d_tipo_asenta{{form.d_tipo_asenta(size=30)}}<br>
    4) Escriba  d_municipio {{form.d_municipio(size=30)}}<br>
    5) Escriba d_estado {{form.d_estado(size=30)}}<br>
    6) Escriba d_ciudad{{form.d_ciudad(size=30)}}<br>
    7) Escriba d_CP  {{form.d_CP}}<br>
    8) Escriba c_estado {{form.c_estado(size=30)}}<br>
    9) Escriba c_oficina {{form.c_oficina(size=30)}}<br>
    10) Escriba c_tipo_asenta {{form.c_tipo_asenta}}<br>
    11) Escriba  c_CP {{form.c_CP}}<br>
    12) Escriba c_mnpio {{form.c_mnpio}}<br>
    13) Escriba  id_asenta_cpcons {{form.id_asenta_cpcons(size=30)}}<br>
    14) Escriba  d_zona {{form.d_zona(size=30)}}<br>
    15) Escriba  c_cve_ciudad {{form.c_cve_ciudad}}<br> 
</head>
<body>
    
</body>
</html>